*.pyc
imgui.ini
config/config.yaml
autosave/
profile/profile.txt

CppModules/__pycache__/
CppModules/Pyds/__pycache__/
CppModules/Pyds/*.pyd
CppModules/build/



CppProjects/build/
CppProjects/data/
CppProjects/external/